body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    line-height: 1.6;
    padding: 20px;
}

code {
    font-family: Consolas, monospace;
    background-color: #444;
    color: #fff;
    padding: 2px 4px;
}

h1 {
    color: #ffcc00;
}

h2 {
    color: #ff9900;
}

a {
    color: #fff;
    text-decoration: underline;
}

pre {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

pre code {
    display: block;
}